# LaTeX intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb

# Jupyter Notebook
.ipynb_checkpoints
env
devign
output
defects4j
.DS_Store
mcp-example/env
mcp-example/defects4j
.vscode

# Python
.DS_Store
__pycache__
env/
logs/
metagpt/
logs_tdd/
logs_refactor/
logs_userstories/